@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-samon: hsl(349, 100%, 77%);
  --c-trinidad: #ea5500;
  --c-saffron: #fac03d;
  --c-jade: #00ae6f;
  --c-lochmara: hsl(202, 100%, 37%);
  --c-piano: hsl(0, 4%, 17%);
  --c-smoke: hsl(0, 20%, 96%);
  --background: : #f2f2f2;
  --foreground: : var(--c-piano);
  --border: var(--c-piano);
  --input: var(--c-piano);
}

@layer base {
  html,
  body,
  div#root {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
  }

  *,
  *:focus,
  *:hover {
    outline: none;
  }

  ::selection {
    background: var(--c-saffron);
  }

  .content {
    @apply container max-w-lg mx-auto;
  }
}

.bg-g {
  background-image: url('../../../packages/shared/assets/bg-g1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(246, 242, 242, 0.66);
  background-blend-mode: lighten;
}

.bg-noise {
  background-image: url('../../../packages/shared/assets/noise.png');
  background-repeat: repeat;
}

@layer components {
  .btn {
    @apply text-piano border-piano border rounded flex items-center justify-center hover:shadow-solid-xs;
  }
  .btn-solid {
    @apply text-piano border-piano border shadow-solid-sm hover:shadow-solid rounded flex items-center justify-center;
  }
}
