@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src:
    url('../../../packages/shared/assets/fonts/Minecraft.woff2') format('woff2'),
    url('../../../packages/shared/assets/fonts/Minecraft.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Minecraft';
  src:
    url('../../../packages/shared/assets/fonts/Minecraft-Bold.woff2')
      format('woff2'),
    url('../../../packages/shared/assets/fonts/Minecraft-Bold.woff')
      format('woff');
  font-weight: bold;
}

/* @font-face {
  font-family: 'pixChicago';
  src:
    url('../../../packages/shared/assets/fonts/pixChicago.woff2')
      format('woff2'),
    url('../../../packages/shared/assets/fonts/pixChicago.woff') format('woff');
}

@font-face {
  font-family: 'VCR_OSD_MONO';
  src:
    url('../../../packages/shared/assets/fonts/VCR_OSD_MONO.woff2')
      format('woff2'),
    url('../../../packages/shared/assets/fonts/VCR_OSD_MONO.woff')
      format('woff');
}

@font-face {
  font-family: 'VCRosdNEUE';
  src:
    url('../../../packages/shared/assets/fonts/VCRosdNEUE.woff2')
      format('woff2'),
    url('../../../packages/shared/assets/fonts/VCRosdNEUE.woff') format('woff');
} */

:root {
  --c-primary: #ff4615;
  --c-secondary: #00efd1;
  --c-light: #f9f4be;
  --c-dark: #000050;
  --c-overlay-l: rgba(0, 0, 80, 0.15);
  --c-overlay-ll: rgba(0, 0, 80, 0.05);

  --background: : #f7f3f3;
  --foreground: : #121212;
  --border: var(--c-dark);
  --input: var(--c-dark);
}

@layer base {
  html,
  body,
  div#root {
    height: 100%;
    overflow: auto;
  }

  body {
    @apply bg-primary text-dark overlay-dot-l;
  }

  *,
  *:focus,
  *:hover {
    outline: none;
  }

  ::selection {
    background: var(--c-primary);
  }

  .content {
    @apply container max-w-lg mx-auto;
  }

  input,
  textarea {
    @apply bg-dark text-light px-5 py-2 rounded-lg text-lg min-h-14 placeholder:text-slate-400 read-only:bg-opacity-90 focus:outline  focus:outline-dark focus:outline-offset-2;
  }
}

@layer components {
  .btn {
    @apply border-dark border-4 rounded-xl flex items-center justify-center shadow-solid active:shadow-solid-xxs shadow-current active:translate-y-2 relative hover:opacity-90 disabled:opacity-70 disabled:cursor-not-allowed disabled:active:translate-y-0 disabled:active:shadow-solid;
  }
  .btn-s {
    @apply border-dark border-3 rounded-xl flex items-center justify-center shadow-solid-xs shadow-current active:shadow-solid-xxs active:translate-y-0.5 relative hover:opacity-90 disabled:opacity-70 disabled:cursor-not-allowed disabled:active:translate-y-0 disabled:active:shadow-solid-xs;
  }

  span.btn-inner {
    @apply absolute top-1 left-1 opacity-70 border-t-2 border-l-2 border-dark;
    border-radius: 4px 0 0 0;
    width: calc(100% - 0.75rem);
    height: calc(100% - 0.75rem);
  }

  span.btn-inner-active {
    @apply absolute bottom-1 right-1 opacity-70 border-b-2 border-r-2 border-dark;
    border-radius: 0 0 4px 0;
  }

  .centerline {
    @apply text-center uppercase font-title;
    &::before,
    &::after {
      @apply px-3;
      content: '-';
    }
  }

  .bg-line {
    background: linear-gradient(var(--c-text) 50%, transparent 0);
    background-clip: content-box;
    background-size: 6.6666666667% 13.3333333333%;
    display: flex;
    margin: 0.1rem 0;
    padding: 0.2rem 0.1rem;
  }

  .overlay-dot {
    background: linear-gradient(
        45deg,
        var(--c-dark) 25%,
        transparent 0,
        transparent 75%,
        var(--c-dark) 0,
        var(--c-dark)
      ),
      linear-gradient(
        45deg,
        var(--c-dark) 25%,
        transparent 0,
        transparent 75%,
        var(--c-dark) 0,
        var(--c-dark)
      );
    background-position:
      0 0,
      2px 2px;
    background-size: 4px 4px;
    background-repeat: repeat;
  }

  .overlay-dot-l {
    background: linear-gradient(
        45deg,
        var(--c-overlay-l) 25%,
        transparent 0,
        transparent 75%,
        var(--c-overlay-l) 0,
        var(--c-overlay-l)
      ),
      linear-gradient(
        45deg,
        var(--c-overlay-l) 25%,
        transparent 0,
        transparent 75%,
        var(--c-overlay-l) 0,
        var(--c-overlay-l)
      );
    background-position:
      0 0,
      2px 2px;
    background-size: 4px 4px;
    background-repeat: repeat;
  }

  .overlay-dot-ll {
    background: linear-gradient(
        45deg,
        var(--c-overlay-ll) 25%,
        transparent 0,
        transparent 75%,
        var(--c-overlay-ll) 0,
        var(--c-overlay-ll)
      ),
      linear-gradient(
        45deg,
        var(--c-overlay-ll) 25%,
        transparent 0,
        transparent 75%,
        var(--c-overlay-ll) 0,
        var(--c-overlay-ll)
      );
    background-position:
      0 0,
      2px 2px;
    background-size: 4px 4px;
    background-repeat: repeat;
  }

  .bg-g {
    background-image: url('../../../packages/shared/assets/bg-g1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(246, 242, 242, 0.66);
    background-blend-mode: lighten;
  }

  .bg-noise {
    background-image: url('../../../packages/shared/assets/noise.png');
    background-repeat: repeat;
  }

  .list-menu {
    @apply flex;

    a {
      @apply flex items-center;
    }
  }

  .list-table {
    @apply rounded border-dark border-2 font-title break-all;
    .header {
      @apply uppercase text-lg;
    }

    li {
      > div {
        @apply px-3 py-2;
      }
    }
    li + li {
      @apply border-dark border-t-2;
    }
  }

  @keyframes pulse-border {
    0%,
    100% {
      border-color: var(--c-light);
    }
    50% {
      border-color: transparent;
    }
  }

  .border-pulse {
    animation: pulse-border 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    transition: border-color;
  }
}
